* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #222;
}

main {
  height: 100%;
  width: 100%;
}

button {
  background: linear-gradient(rgb(86, 180, 211), rgb(90, 188, 90));
  height: 100px;
  width: 500px;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
}

.box {
  height: 300px;
  width: 300px;
  background: linear-gradient(rgb(209, 74, 97), rgb(186, 88, 190));
  margin: auto;
}